@import url('https://fonts.googleapis.com/css?family=Niramit');

* {
    box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Niramit', sans-serif;
}

input[type=text] {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid;
    margin-left: 10px;
}

input.form-item-big {
    width: 100%;
    margin-left: 0;
}

input[type=submit] {
    padding: 10px;
    background-color: #3498db;
    border: 1px solid #2980b9;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: #2980b9;
}

select {
    padding: 10px;
    min-width: 150px;
}

.navegacion {
    background: #eee;
    padding: 10px;
    text-align: right;
}

.nav-item {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.nav-link {
    color: #333;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.contenedor {
    margin: 20px auto;
    background: #eee;
    max-width: 460px;
    padding: 20px 50px;
    border: 1px solid #ccc;
}

.checkbox-list {
    padding-left: 0;
    margin-left: 0;
}

.checkbox-list-item {
    list-style: none;
}

.input-num {
    max-width: 50px;
}

.form-item {
    padding: 0 0 20px;
}

.mensaje {
    display: block;
    padding: 10px;
    background: #1abc9c;
    color: white;
}

.resultado {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
